router isis 1
address-family ipv4 unicast
  mpls traffic-eng level-2-only
  mpls traffic-eng router-id 172.0.0.{{id}}
  root
mpls label range table 0 30{{id}}00 30{{id}}99
mpls traffic-eng reoptimize 60
mpls traffic-eng signalling advertise explicit-null
mpls traffic-eng auto-bw collect frequency 1
root
mpls traffic-eng
{% for intf in lks %}
 interface {{intf['name'].replace("-", "/")}}
  !
!
{% endfor %}
rsvp
{% for intf in lks %}
 interface {{intf['name'].replace("-", "/")}}
  bandwidth percentage 100
 !
!
{% endfor %}
{% for id in mesh %}
root
interface tunnel-te {{id}}
 description "Tunnel to 172.0.0.{{id}}"
 ipv4 unnumbered Loopback0
 priority 7 7
 signalled-bandwidth 100
 auto-bw
  auto-capacity
  min-clones 0
  max-clones 15
  nominal-bandwidth 100
  split-bandwidth 150
  merge-bandwidth 50
  overflow threshold 10 min 10 limit 1
  adjustment-threshold 10 min 10
  application 5
 destination 172.0.0.{{id}}
 path-option 1 dynamic
 !
!
{%- endfor %}