ip routing
ipv6 unicast-routing
!
{% for intf in lks %}
interface {{intf['name']}}
   no switchport
   description {{intf['des']}}
   ip address 10.{{intf['ip_blc']}}.0.{{id}}/24
   ipv6 enable
   ipv6 address 2000:abcd:{{intf['ip_blc']}}::{{id}}/64
   no shut
!
{%- endfor %}
interface Loopback0
   ipv6 address abcd::{{id}}/128
   ip address 172.0.0.{{id}}/32
!

