set system license keys key "JUNOS892191212 aeaqie alakap hs6c2a eqaaad 5adsqo zm7quo 3hqrmy hg74fs lzcbra wvagfc zxvq7a nwwdy2 63hajk u26llp mbk4wv sidbdz"
set routing-options autonomous-system 100
set protocols bgp group v4-mesh type internal
set protocols bgp group v4-mesh family inet unicast
set protocols bgp group v4-mesh peer-as 100
set protocols bgp group v4-mesh local-address 172.0.0.{{id}}
set protocols bgp group v6-mesh type internal
set protocols bgp group v6-mesh family inet6 unicast
set protocols bgp group v6-mesh peer-as 100
set protocols bgp group v6-mesh local-address abcd::{{id}}
{% for id in mesh %}
set protocols bgp group v4-mesh neighbor 172.0.0.{{id}}
set protocols bgp group v6-mesh neighbor abcd::{{id}}
{% endfor %}
